*{
    background-color: rgb(202, 198, 201);
    margin: 0px;
}
#header{
    color: black;
    background-color:bisque;
    font-size: x-large;
}
#main{
    color:blue;
    background-color: bisque;
    margin: 0px;
    font-size: 28px ;
    font-style: oblique;
}
#footer{
    margin: 0px;
    font-size: x-large;
    color: blueviolet;
    background-color:bisque;
}
